env:
  global:
    - "CC_TEST_REPORTER_ID=9cfed95f4fb4a47ec85b6a9bad402920b47c30cbbf265669257cf4ad900df090"
    
language: node_js

  node_js:
    - "6"
    - "7"
    - "8"
    - "9"
    - "10"

before_script:
  - "curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter"
  - "chmod +x ./cc-test-reporter"
  - "./cc-test-reporter before-build"
  - "npm i -g jasmine-node"
  - "npm i -g istanbul"
  
script:
  - "npm test"

after_script:
  - "./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT"
